:host {
  position: absolute;
  left: 0;
  width: 75%;

  mat-form-field {
    margin-right: 0.25rem;
  }

  .barcode-input {
    display: flex;
    flex-direction: row-reverse;
  }

  .clear-button {
    background-color: black;
    color: white;
  }

  .edit-button {
    background-color: red;
    color: black;
    font-size: x-large;
  }

  .error-msg {
    margin-top: -1rem;
    padding: 0.5rem;
    width: 100%;
    color: red;
    text-align: left;
    vertical-align: top;
  }

  .form-input {
    width: 10rem;
  }

  .form-barcode {
    width: 10rem;
  }

  .player-input {
    display: flex;
    justify-content: space-between;
  }

  .player_reg {
    border-radius: 10px;
    margin: 1rem;
    height: min-content;
    width: 30vw;
  }

  .reg_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .spinner {
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .submit-button {
    background-color: limegreen;
    color: black;
  }

  .submit-button-disabled {
    background-color: grey;
    color: darkgrey;
  }

}


