:host {
  position: absolute;
  left: 0;
  width: 75%;
  height: calc(100vh - 7.5rem);

  .clear-button {
    background-color: black;
    color: white;
  }

  .edit-button {
    background-color: red;
    color: black;
    font-size: x-large;
  }

  .error-msg {
    height: 1.5rem;
    margin-top: -1rem;
    padding: 0.5rem;
    width: 100%;
    color: red;
    text-align: right;
    vertical-align: top;
  }

  .form-input {
    width: 10rem;
  }

  .form-barcode {
    width: 10rem;
  }

  .player_reg {
    border-radius: 10px;
    margin: 1rem;
    height: max-content;
    width: 25%;
  }

  .reg_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;
  }

  .spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }


  .submit-button {
    background-color: limegreen;
    color: black;
  }

  .submit-button-disabled {
    background-color: grey;
    color: darkgrey;
  }
}


