:host {
  position: absolute;
  left: 0;
  width: 75%;
  height: calc(100vh - 7.5rem);

  .clear-button {
    background-color: black;
    color: white;
  }

  mat-card-content {
    margin: 1rem 0;
  }

  .game_checkin {
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    height: max-content;
    width: 50%;
  }

    .game_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
