:host {
  position: absolute;
  left: 0;
  width: 75%;
  height: calc(100vh - 7.5rem);

  .clear-button {
    background-color: black;
    color: white;
  }

  .submit-button {
    background-color: limegreen;
    color: black;
  }

  .submit-button-disabled {
    background-color: grey;
    color: darkgrey;
  }

  mat-card-content {
    margin: 1rem 0;
  }

  .game_checkin {
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    height: max-content;
    width: max-content;
  }

  .game_info {

    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .panels {
    display: flex;
    justify-content: flex-start;
  }

  .ptw_form {
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    height: max-content;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .ptw_entries {
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    margin:0 0.75rem;
  }

}
