:host {
  position: absolute;
  left: 0;
  width: 75%;
  height: calc(100vh - 7.5rem);

  .clear-button {
    background-color: black;
    color: white;
  }

  mat-card-content {
    margin: 1rem 0;
  }
}
