.card {
  height: 10rem;
  width: 10rem;
  background-color: red;
}

.home-button {
  background-color: limegreen;
  color: black;
}

.icon {
  font-size: larger;
  margin-right: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.tab-title {
  background-color: black;
}

.titlebar {
  background-color: limegreen;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.title-button {
  font-size: large;
  font-family: 'Orbitron', sans-serif;
  padding-left: 1rem;
}


