:host {
  position: absolute;
  left: 0;
  width: 75%;
  display: flex;
  flex-direction: row;

  mat-form-field {
    margin-right: 0.25rem;
  }

  .form-input {
    width: 10rem;
  }

  .data-field {
    width: 10rem;
  }

  .form-barcode {
    width: 10rem;
  }

  .game_checkout {
    border-radius: 10px;
    margin: 1rem;
    height: max-content;
    width: min-content;
  }

  .game-checkout-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .game_info {
    width: 100%;
  }

  .game_info_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    .checkboxes {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &.notes {
      width: 200%;
    }
  }

  .checkout_info {
    border-radius: 10px;
    margin: 1rem;
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .clear-button {
    background-color: black;
    color: white;
  }

  .submit-button {
    background-color: limegreen;
    color: black;
  }

  .submit-button-disabled {
    background-color: grey;
    color: darkgrey;
  }
}
